BookToLCC.pyc
build/ISBN_to_LCC/ISBN_to_LCC.exe.manifest
build/ISBN_to_LCC/out00-Analysis.toc
build/ISBN_to_LCC/logdict2.7.7.final.0-1.log
*.toc
build/ISBN_to_LCC/out00-PYZ.pyz
build/ISBN_to_LCC/out00-PKG.pkg
build/ISBN_to_LCC/warnISBN_to_LCC.txt
build/title_author_to_LCC/logdict2.7.7.final.0-1.log
build/title_author_to_LCC/out00-PKG.pkg
build/title_author_to_LCC/title_author_to_LCC.exe.manifest
Dependencies.txt~
build/title_author_to_LCC/warntitle_author_to_LCC.txt
build/title_author_to_LCC/out00-PYZ.pyz
README.txt~